wp-admin/
wp-content/mu-plugins/gd-system-plugin.php
wp-content/mu-plugins/
wp-includes/
wp-*.php
wp-config.php
index.php
gd-config.php
.ftpquota
developer.goliquidator.com
gomezossa.com
test.goliquidator.com
error_log