wp-config.php
.ftpquota
developer.goliquidator.com
gomezossa.com
test.goliquidator.com
error_log
.idea/
goliquidator_cooming_soon.zip
.htaccess
wp-content/uploads/2019/10/**
wp-content/uploads/2016/**
wp-content/uploads/wc-logs/**