.parent_category{
    width: 100%;
    float: left;
    color: #101010 !important;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: -.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.children_category{-pro
    width: 100%;
    float: left;
    color: #6d6d6d !important;
    line-height: 1.5em;
    letter-spacing: -.2px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.side_bar_row_up:before{
    content: "\32";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
}
.side_bar_row_down:before{
    content: "\33";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
}
.side_bar_row_plus:before{
    content: "\4c";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
    top: 15px;
    right: 5px;

}
.side_bar_row_less:before{
    content: "\4b";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
    top: 15px;
    right: 5px;
}
.woocommerce .products.standard .product .qodef-product-list-product-title{
    font-size: 15px;
}
.child_alt_price{
    font-size: 15px;
    font-family: Poppins,sans-serif;
    letter-spacing: .5px;
    color: #6aa636 !important;
    margin: 5px 0px 0px 0px !important;
    font-weight:600px;
}

.child_alt_price_sold{
    font-size: 15px;
    font-family: Poppins,sans-serif;
    letter-spacing: .5px;
    color: #ed052f !important;
    margin: 5px 0px 0px 0px !important;
    font-weight:600px;
}

.qodef-single-product-summary .child_alt_price{
    font-family: 'Open Sans',sans-serif;
    font-size: 21px;
    font-weight: 600;
}
.qodef-single-product-summary .price .woocommerce-Price-amount{
    font-size: 21px;
}

.qodef-single-product-summary p{
    font-size: 15px;
    line-height: 26px;
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #212121;
}

.child_subtitle_sku{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.child_subtitle_sku .sku{
    color: #101010;
}
.child_subtitle_sku .sku-info{

}
.qodef-single-product-info-bottom .qodef-tabs-nav{
    display: none !important;
}
.qodef-single-product-info-bottom #tab-description{
    width: 49%;
}
.qodef-single-product-info-top{
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 15px;
}
#tab-product_form{
    display: block !important;
    width: 50%;
    padding-right: 0px;
}
#form_product_contat{
}
#contact-name, #contact-email, #contact-comment{
    margin-bottom: 0px;
}
.contact_message{
    font-style: oblique;
    margin-top: 10px;
    font-size: 14px;
    color: #858482;
    font-weight: lighter;
}
.qodef-single-product-info-top .qodef-single-product-images{
    width: 50% !important;
}
.contact-form-fields{
    padding-top: 10px;
    padding-bottom: 10px;
}
/** tab-description */
#tab-description p{
    font-size: 15px;
    line-height: 26px;
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #212121;
}
#tab-description h4{
    font-size: 21px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
#tab-description h5{
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
#tab-description b{
    font-weight: bold;
    color: #1a5f9b;
}
#tab-description strong{
    font-weight: bold;
}
#tab-description a{
    color: #89b746;
    text-decoration: underline;
}
#tab-description ul li{
font-size: 15px;
color: #212121;
font-family: 'Open Sans',sans-serif;
line-height: 26px;
font-weight: 400;
}

#woocommerce-product-details__short-description ul li{
}
font-size: 15px !important;
color: #212121 !important;
font-family: 'Open Sans',sans-serif;
line-height: 26px !important;
font-weight: 400;
}
}


/** */
.woocommerce-product-details__short-description p{
    font-size: 15px !important;
    line-height: 26px;
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #212121 !important;
}

.woocommerce-product-details__short-description  h4{
    font-size: 21px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
.woocommerce-product-details__short-description  h5{
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
.woocommerce-product-details__short-description  b{
    font-weight: bold;
    color: #1a5f9b;
}
.woocommerce-product-details__short-description  strong{
    font-weight: bold;
}
.woocommerce-product-details__short-description  a{
    color: #89b746;
    text-decoration: underline;
}
.widget_product_categories{
    position: relative;
    float: left;
    width: 100%;
}
.widget_product_categories h4{
    cursor: default;
}
.active{
    display: block !important;
}
.inactive{
    display: none !important;
}
.side_bar_row_plus{
    display: none;
}
#tab-description h2{
    display: block;
    font-size: 18px;
    line-height: 1.35em;
    font-weight: 600;
    margin-bottom: 10px;
}
#search-2 h4{
    text-transform: lowercase;
}
#search-2 h4::first-letter{
    text-transform: capitalize;
}
#searchform #searchsubmit{
    background-color: #78ad2b;
}
#searchform #searchsubmit:hover{
    background-color: #73993a;
}
.woocommerce-ordering{
    text-align: right;
}
#woocommerce_recently_viewed_products-2{
    float: left;
}
.woocommerce-Price-amount{
    font-size: 15px;
    color: #6aa636;
    letter-spacing: 0.5px;
}
#woocommerce_recently_viewed_products-2 .qodef-product-list-widget-price-wrapper{
display: none;
}
.qodef-product-standard-button-holder .qodef-btn-icon i.qodef-icon-linear-icon{
    display: none;
}
ul.products li.product .qodef-product-standard-info-top{
    line-height: 20px;
}

.qodef-column-inner ul.products li.product{
    margin-bottom: 15px !important;
}
.product .qodef-product-standard-image-holder .qodef-original-image img:hover{
    opacity: 1;
}

.qodef-woocommerce-page .products.standard .product:hover .qodef-product-standard-image-holder > a span, .woocommerce .products.standard .product:hover .qodef-product-standard-image-holder > a span{
    transform: none !important;
}
#tab-description h4, #tab-description p, .woocommerce-product-details__short-description h4, .woocommerce-product-details__short-description p{
    margin-bottom: 15px !important;
}
.nav-menu-item-wsp .logo-whatsapp a{
    color:#252525;
    cursor: pointer;
}
.nav-menu-item-search .item_text{
    font-size: 20px;
    position: relative;
    top: 3px;
}
.nav-menu-item-search{
    position: relative;
}
#s_input{
    height: 42px;
    width: 220px;
}
#searchform-search{
    position: absolute;
    width: 260px;
    right: 15px;
    top: 65px;
}
#searchsubmit_input{
    width: 42px;
    height: 42px;
    line-height: 40px;
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: initial;
    text-decoration: none;
    color: #fff;
    font-family: ElegantIcons,sans-serif;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    float: right;
    background-color: #78ad2b;
    transition: color .2s ease-out,background-color .2s ease-out;
    font-size: 13px;
    text-align: center;
    position: absolute;
    right: -1px;
    top: -1px;
}
#searchsubmit_input:hover{
    background-color: #73993a;
}
.logo_whatsapp_mobile{
    margin-right: 5px;
}
.logo_whatsapp_mobile a .logo-whatsapp{
    color: #252525;
    padding-top: 0px;
}
#woocommerce_product_search-2{
    display: none;
    position: absolute;
    right: 0px;
    top: 40px;
    padding: 5px;
}
#woocommerce_product_search-2 .woocommerce-product-search{
    width: 220px;
}
#woocommerce_product_search-2 .woocommerce-product-search input[type="submit"]{
    margin: 0px;
    text-decoration: none;
    color: #fff;
    font-family: ElegantIcons,sans-serif;
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    float: right;
    background: #78ad2b;
    height: 30px;
}
#woocommerce_product_search-2 .woocommerce-product-search .search-field{
    height: 30px;
    border: 1px solid #d5d5d5;
    padding: 5px;
}
#woocommerce_product_search-2 .woocommerce-product-search input[type="submit"]:hover {
    background-color: #73993a;
}
#mobile_search_tools .item_outer{
    font-size: 20px;
    position: relative;
    top: 1px;
    margin-left: 10px;
    color: #252525;
    font-weight: bold;
}

.qodef-mobile-header .qodef-mobile-header-inner .qodef-position-right-inner{
    position: relative;
}
.nav-menu-item-search .qodef-search-opener .icon_search{
    padding-top: 30px;
    position: relative;
    display: inline-block;
}
.sticky-nav-menu-item-wsp .logo-whatsapp{
    padding-top: 15px;
    position: relative;
    display: inline-block;
}
custom_html-8{
    padding-right: 5px;
}
#custom_html-8 .textwidget a{
    color: #252525;
}
#custom_html-8 .textwidget a:hover, #custom_html-9 .textwidget a:hover {
    color: #78ad2b;
}
#custom_html-8 .textwidget a .fa-whatsapp, #custom_html-9 .textwidget a .fa-whatsapp{
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0;
}
#custom_html-9 .logo-whatsapp{
    padding-top: 5px;
}
#custom_html-9 .logo-whatsapp .fa-whatsapp{
    color: #252525;
}
#custom_html-9{
    padding-right: 5px;
}
.qodef-position-right .qodef-position-right-inner a.qodef-search-opener{
    margin: 0px;
    position: relative;
    top: 8px;
}
.qodef-position-right .qodef-position-right-inner a.qodef-search-opener .icon_search{
    font-size: 25px;
}
.qodef-mobile-header .qodef-mobile-header-inner .qodef-position-right .fa-whatsapp{
    color: #252525;
}
.qodef-mobile-header .qodef-mobile-header-inner .qodef-position-right .logo-whatsapp{
    padding-top: 15px;
}
.qodef-mobile-header .qodef-mobile-header-inner .qodef-search-opener{
    top: 3px !important;
    margin-left: 5px !important;
}
.qodef-product-standard-info-top{
    font-size: 13px;

}

#popmake-723{
    border: 20px solid #e1e1e1;
    padding: 0px;
}
#popmake-723 .content_novedades_texto
{
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    padding-bottom: 20px;

}
#popmake-723 .content_novedades_texto p{
    color: #010101;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0px;
    line-height: 22px;
}
#popmake-723 .content_novedades_texto div{
    color: #767676;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 20px;
    line-height: 25px;
}
.content_novedades_button{
    background-color: #1d5d9a;
    text-align: center;
    float: left;
    width: 100%;
}
.popup_suscripcionnews{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #fff;
    color: #fff;
}
.text_boletin_news{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.popup_suscripcionnews{
    cursor: pointer;
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    transform: translate(55%);
}
.content_novedades_button{
    text-align: center;
    padding: 10px;
}
.content_novedades_button .popup_suscripcionnews .fa-angle-right {
    position: absolute;
    top: 15px;
    right: 10px;
}
#popmake-723 .popmake-close {
    color: #010101;
    background:none;
    font-family: 'Open Sans',sans-serif;
    font-size: 30px;
}
.our_catalog_content{
    background-color: #f5f5f5;
}

#column_como_comprar_id .qodef-elements-holder-item-content , #column_por_que_id .qodef-elements-holder-item-content{
    padding: 0px;
}
#column_como_comprar_id .vc_column-inner, #column_por_que_id .vc_column-inner{
    padding: 0px !important;
}
#content_video_player #video{
}
#row_testimonials_id{
    background-color: #f5f5f5 !important;
}
.qodef-main-menu ul li:hover a{
    color:#252525 !important;
}
#sp-testimonial-free-820 .tfree-client-testimonial{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
#sp-testimonial-free-820 .tfree-client-designation{
    font-size: 13px;
}

#sp-testimonial-free-820 .tfree-client-name{
    line-height: 25px;
    font-size: 16px;
    font-weight: 600 !important;
}

#column_our_catalog_id .qodef-elements-holder-item{
    width: 50%;
    background-position-x: 40%;
}
#como_comprar_id  .qodef-elements-holder-item, #porque_comprar_column_id .qodef-elements-holder-item{
    width: 50%;
}
.sp-testimonial-free-wrapper .slick-prev .fa-angle-left{
    font-weight: lighter !important;
    font-size: 50px;
}
.sp-testimonial-free-wrapper .slick-next .fa-angle-right{
    font-weight: lighter !important;
    font-size: 50px;
}
.qodef-sidebar .widget_recently_viewed_products .product_list_widget .qodef-product-list-category{
    display: none;
}
#reviews input[type="submit"], input.wpcf7-form-control.wpcf7-submit:hover{
    background-color: #73993a !important;
    color: #FFF !important;
}
#sp-testimonial-free-wrapper-820 .sp-testimonial-free-section .slick-prev:hover,
#sp-testimonial-free-wrapper-820 .sp-testimonial-free-section .slick-next:hover{
    color: #1e6799 !important;
}
#sp-testimonial-free-820 .slick-next::before, #sp-testimonial-free-820 .slick-prev::before{
    content: '' !important;
}

#media_image-2, #media_image-3{
	padding-top: 35px;
	padding-left: 5px;
}
#media_image-2 .image, #media_image-3 .image, #media_image-6 .image, #media_image-7 .image{
	vertical-align: top;
}
#media_image-7, #media_image-6{
	padding-left: 15px;
	padding-top: 25px;
	vertical-align: top;
}
#media_image-4, #media_image-5{
	margin-left: 5px;
}
#media_image-4 .image, #media_image-5 .image{
	width: 20px;
}
/** RESPONSIVE */
@media only screen and (min-width: 768px) {
    #popmake-387 .pum-close{
        top: 0px;
        right: -40px;
        background: no-repeat;
        font-size: 35px !important;
        font-weight: 100;
        border: none;
        font-family: 'Open Sans',sans-serif;
    }


}
@media only screen and (min-device-width : 1200px){

    #sp-testimonial-free-820{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 767px) {
    .qodef-single-product-info-bottom #tab-description{
        width: 100%;
    }
    #tab-product_form{
        width: 100%;
    }
    .qodef-single-product-info-top .qodef-single-product-images {
        width: 100% !important;
    }
    .qodef-single-product-images .qodef-single-product-thumbnails {
        width: 16%;
    }
    .qodef-column1{

    }
    .woocommerce-result-count{
        display: none !important;
    }
    .woocommerce-ordering{
        display: none !important;
    }
    .widget_recently_viewed_products{
        display: none !important;
    }
    .widget_product_categories h4{
        cursor: default;
    }
    .side_bar_row_plus{
        display: block;
    }
    .product-categories {
        display: none;
    }
    #tab-product_form{
        border-top: 1px solid  rgba(0,0,0,.1);
        padding-top: 30px;
    }
    .qodef-single-product-info-bottom {
        margin-top: 30px !important;
    }
    .qodef-title .qodef-title-holder h1{
        font-size: 28px;
        letter-spacing: 0 !important;
    }
    .qodef-custom-font-holder{
        letter-spacing: 0px !important;
    }

    h2.qodef-custom-font-holder{
        font-size:26px !important;
    }



    .qodef-mobile-opener-icon-holder{
        font-size: 25px;
    }

   .qodef-mobile-header .qodef-position-center-inner .qodef-mobile-logo-wrapper a{
       height: 30px !important;
   }
    .qodef-mobile-header .qodef-vertical-align-containers .qodef-mobile-menu-opener{
        float: left;
    }
    .qodef-mobile-header .qodef-vertical-align-containers .qodef-position-center{
        float: left;
        text-align: left !important;
        position: relative !important;
        width: auto;
    }
    .qodef-mobile-header .qodef-vertical-align-containers .qodef-position-right{
        float: right;
    }

    .qodef-four-columns-inner .mobile_fotter_3{
        width: 49% !important;
    }
    .qodef-four-columns-inner .mobile_fotter_4{
        width: 49% !important;
    }
    .wpb_single_image.vc_align_left{
        text-align: center !important;
    }
    .wpb_wrapper .qodef-section-inner .qodef-section-inner-margin .vc_column_container{
        margin-bottom: 20px;
    }
    .txt_org{
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .txt_mde{
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    #agendar_cita_mapa_iframe{
        height: 200px;
    }
    .form_ciudad_class
    {
        margin-top: 30px;
    }
    .tener_en_cuenta{
        margin-top: 35px;
    }
    .formulario-cita .submit_btn_primary{
        text-align: center;
    }

    .qodef-column-inner ul.products li.product{
        margin-bottom: 35px !important;
    }
    .formulario-contactenos .form_contact_country{
        margin-bottom: 20px !important;
    }
    .porque_comprarnos_confianza, .porque_comprarnos_versatilidad{
        margin-top: 25px;
    }
    #popmake-387{
        max-width: 100% !important;
        width: 100% !important;
        top: 0px !important;
        left: 0px !important;
        padding: 5px;
        margin: 0px;
        bottom: 0px !important;
        right: 0px !important;
    }
    #popmake-723{
        min-width: 100%!important;
        max-width: 100%!important;
        left: 0px !important;
        border: 1px solid #e1e1e1;
    }
    .popup_suscripcionnews{
        transform: translate(25%);
    }
    #popmake-723 .content_novedades_texto{
        padding-left: 10px;
        padding-right: 10px;
    }
    #popmake-723 .content_novedades_texto p{
        font-size: 18px;
    }
    #popmake-723 .content_novedades_texto div{
        font-size: 14px;
    }
    .styles_grids_with_icons h4{
        padding-bottom: 0px;
        padding-top: 0px;
    }
    #type_sales_id{
        padding-top:60px !important;
        padding-bottom:110px !important;
    }

    #type_sales_id .qodef-section-inner-margin .vc_column_container{
        margin-top: 40px;
    }
    #rev_slider_1_1 rs-slide.slider_one_backgrouund rs-sbg-wrap rs-sbg{
        background-image: url("/wp-content/uploads/2020/10/M-HomeBannerPrin_20201016.jpg") !important;
        background-size: cover !important;
        background-position: right bottom !important;
    }


    #rev_slider_2_1 rs-slide.slider_one_backgrouund rs-sbg-wrap rs-sbg{
        background-image: url("/wp-content/uploads/2020/11/M-CR-Banner_20201102.jpg") !important;
        background-size: cover !important;
        background-position: right bottom !important;
    }


    #ventas_camion_id .vc_single_image-img, #ventas_pallets_id .vc_single_image, #ventas_paquetes_id .vc_single_image{
        width: 80px !important;
        height: 80px !important;
    }
    .styles_grids_with_icons h4{
        font-size: 16px !important;
    }
    .styles_grids_with_icons p{
        font-size: 13px !important;
    }
    .sp-testimonial-free-wrapper .slick-prev .fa-angle-left{
        left: 15px;
        position: relative;
    }
    .sp-testimonial-free-wrapper .slick-next .fa-angle-right{
        right: 15px;
        position: relative;
    }
    #nuestro_catalogo_descripcion_id .wpb_wrapper span,
    #como_comprar_descripcion_id .wpb_wrapper span,
    #por_que_comprar_desc_id .wpb_wrapper span{
        font-size: 15px !important;
        line-height: 21px !important;
    }
    #sp-testimonial-free-820 .tfree-client-testimonial{
        font-size: 13px;
        line-height: 22px;
    }

    #popmake-387 .popmake-close{
        background: none;
        border: none;
        color: #808080;
        font-size: 30px;
        font-weight: lighter;
        box-shadow: none;
        font-family: arial, sans-serif;;
    }

}

/*v */
@media only screen and (max-width: 767px) and (orientation: portrait){
    #page_why_buy_us .qodef-elements-holder-item{
        background-position-y: 45%;
    }

    #video{
        top: -17px;
    }
    .touch .qodef-parallax-section-holder.qodef-parallax-section-holder-touch-disabled{
        min-height: 195px !important;
    }
    #column_por_que_id{
        display: none;
    }
}
@media only screen and (max-width: 767px) and (orientation: landscape){
    #page_why_buy_us .qodef-elements-holder-item{
        background-position-y: 50%;
    }

    #video{
        top: -155px;
    }
    .touch .qodef-parallax-section-holder.qodef-parallax-section-holder-touch-disabled{
        min-height: 235px !important;
    }
    #column_por_que_id{
        display: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .qodef-four-columns-inner .mobile_fotter_2{
        width: 50% !important;
    }
    .qodef-four-columns-inner .mobile_fotter_3{
        width: 50% !important;
    }
    .qodef-four-columns-inner .mobile_fotter_4{
        width: 50% !important;
    }
    .qodef-four-columns-inner .mobile_fotter_5{
        width: 50% !important;
    }
    .counter_liquidator .qodef-counter{
        font-size: 50px !important;
    }
    .counter_liquidator .qodef-counter-title{
        font-size: 50px !important;
    }
    .vc_column_container > .vc_column-inner{
        padding-left: 10px;
        padding-right: 10px;
    }
    .contactenos_comunicarse_hablenos .image, .contactenos_comunicarse_hablenos .image{
        float: left;
        width: 55px;
        margin-right: 10px;
    }
    .contactenos_comunicarse_hablenos .texto, .contactenos_comunicarse_hablenos .texto{
        float: left;
        width: 62%;
    }
    #rev_slider_1_1, #rev_slider_1_1_wrapper {
        max-height: 340px !important;
    }
    .styles_grids_with_icons h4{
        font-size: 14px !important;
    }
    .styles_grids_with_icons p{
        font-size: 13px !important;
    }
    #column_our_catalog_id .qodef-elements-holder-item-content .qodef-custom-font-holder,
    #como_comprar_column_id .qodef-elements-holder-item-content .qodef-custom-font-holder,
    #porque_comprar_column_id .qodef-elements-holder-item-content .qodef-custom-font-holder{
        font-size: 43px !important;
        line-height: 42px !important;
    }

    .sp-testimonial-free-wrapper .slick-prev .fa-angle-left{
        left: 15px;
        position: relative;
    }
    .sp-testimonial-free-wrapper .slick-next .fa-angle-right{
        right: 15px;
        position: relative;
    }

    #btn_about_our_id{
        top: -10px;
    }
    #nuestro_catalogo_descripcion_id .wpb_wrapper span,
    #como_comprar_descripcion_id .wpb_wrapper span,
    #por_que_comprar_desc_id .wpb_wrapper span{
        font-size: 16px !important;
        line-height: 26px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait){
    #page_why_buy_us .qodef-elements-holder-item{
        background-position-y: 45%;
    }
    #video{
        top: -157px;
    }
    .touch .qodef-parallax-section-holder.qodef-parallax-section-holder-touch-disabled{
        min-height: 293px !important;
    }
    .qodef-testimonials-holder .qodef-testimonials.owl-carousel .owl-buttons .owl-prev{
    }
    .qodef-testimonials-holder .qodef-testimonials.owl-carousel .owl-buttons .owl-next{
    }
    .qodef-mobile-opener-icon-holder{
        font-size: 25px;
    }
    .qodef-mobile-header .qodef-position-center-inner .qodef-mobile-logo-wrapper a{
        height: 34px !important;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape){
    #page_why_buy_us .qodef-elements-holder-item{
        background-position-y: 61%;
    }
    #video{
        top: -235px;
    }
    .qodef-testimonials-holder .qodef-testimonials.owl-carousel .owl-buttons .owl-prev{
        left: -5% !important;
    }
    .qodef-testimonials-holder .qodef-testimonials.owl-carousel .owl-buttons .owl-next{
        right: -5% !important;
    }
    .qodef-mobile-opener-icon-holder{
        font-size: 25px;
    }
    .qodef-mobile-header .qodef-position-center-inner .qodef-mobile-logo-wrapper a{
        height: 34px !important;
    }
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) {
    #rev_slider_1_1, #rev_slider_1_1_wrapper {
        max-height: 450px !important;
    }
}
@media only screen and (max-width: 768px ){
    #column_our_catalog_id .qodef-elements-holder-item, #como_comprar_column_id .qodef-elements-holder-item, #porque_comprar_column_id .qodef-elements-holder-item{
        width: 100%;
        display: inline-block;
        height: auto;
        text-align: center;
        background-size: cover;
        margin-top: 40px;
    }
    #column_our_catalog_id .qodef-custom-font-holder, #como_comprar_column_id .qodef-custom-font-holder, #porque_comprar_column_id .qodef-custom-font-holder{
        text-align: center !important;
        letter-spacing: -0.5px !important;
    }

    #como_comprar_column_id .como_comprar_space{
        height: 20px !important;
    }


    .porque_comprar_background{
        display: none !important;
    }
}
@media only screen and (min-width: 834px ) and (max-width: 1024px ) {
    #column_our_catalog_id .qodef-elements-holder-item {
        background-position-x: 49%;
        background-size: 140%;
        background-repeat: no-repeat;
    }
}

@media only screen and (max-width: 360px ) and (max-width: 374px ){
    #video{
        top: -12px;
    }

}
@media only screen and (max-width: 320px ) and (max-width: 355px ){
    #video{
        top: -2px;
    }
}
@media only screen and (min-width: 320px ) and (max-width: 375px ){
    #btn_about_our_id{
        top: 10px;
    }
}