.parent_category{
    width: 100%;
    float: left;
    color: #101010 !important;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: 500;
    letter-spacing: -.2px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.children_category{
    width: 100%;
    float: left;
    color: #6d6d6d !important;
    line-height: 1.5em;
    letter-spacing: -.2px;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.side_bar_row_up:before{
    content: "\32";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
}
.side_bar_row_down:before{
    content: "\33";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
}
.side_bar_row_plus:before{
    content: "\4c";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
    top: 15px;
    right: 5px;

}
.side_bar_row_less:before{
    content: "\4b";
    position: absolute;
    right: 0px;
    font-family: 'ElegantIcons';
    font-size: 20px;
    top: 15px;
    right: 5px;
}
.woocommerce .products.standard .product .qodef-product-list-product-title{
    font-size: 15px;
}
.child_alt_price{
    font-size: 15px;
    font-family: Poppins,sans-serif;
    letter-spacing: -.2px;
    color: #6aa636;
    margin: 0px !important;
}
.qodef-single-product-summary .child_alt_price{
    font-family: 'Open Sans',sans-serif;
    font-size: 21px;
    font-weight: 600;
}
.qodef-single-product-summary .price .woocommerce-Price-amount{
    font-size: 21px;
}

.child_subtitle_sku{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.child_subtitle_sku .sku{
    color: #101010;
}
.child_subtitle_sku .sku-info{

}
.qodef-single-product-info-bottom .qodef-tabs-nav{
    display: none !important;
}
.qodef-single-product-info-bottom #tab-description{
    width: 49%;
}
.qodef-single-product-info-top{
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 15px;
}
#tab-product_form{
    display: block !important;
    width: 50%;
    padding-right: 0px;
}
#form_product_contat{
}
#contact-name, #contact-email, #contact-comment{
    margin-bottom: 0px;
}
.contact_message{
    font-style: oblique;
    margin-top: 10px;
    font-size: 14px;
    color: #858482;
    font-weight: lighter;
}
.qodef-single-product-info-top .qodef-single-product-images{
    width: 50% !important;
}
.contact-form-fields{
    padding-top: 10px;
    padding-bottom: 10px;
}
/** tab-description */
#tab-description p{
    font-size: 15px;
    line-height: 26px;
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #777;
}
#tab-description h4{
    font-size: 21px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
#tab-description h5{
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
#tab-description b{
    font-weight: 800;
    color: #1a5f9b;
}
#tab-description strong{
    font-weight: bold;
}
#tab-description a{
    color: #89b746;
    text-decoration: underline;
}
/** */
.woocommerce-product-details__short-description  p{
    font-size: 15px;
    line-height: 26px;
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #777;
}
.woocommerce-product-details__short-description  h4{
    font-size: 21px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
.woocommerce-product-details__short-description  h5{
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins,sans-serif;
    color: #101010;
}
.woocommerce-product-details__short-description  b{
    font-weight: 800;
    color: #1a5f9b;
}
.woocommerce-product-details__short-description  strong{
    font-weight: bold;
}
.woocommerce-product-details__short-description  a{
    color: #89b746;
    text-decoration: underline;
}
.widget_product_categories{
    position: relative;
    float: left;
    width: 100%;
}
.widget_product_categories h4{
    cursor: default;
}
.active{
    display: block !important;
}
.inactive{
    display: none !important;
}
.side_bar_row_plus{
    display: none;
}
#tab-description h2{
    display: block;
    font-size: 18px;
    line-height: 1.35em;
    font-weight: 600;
    margin-bottom: 10px;
}
#search-2 h4{
    text-transform: lowercase;
}
#search-2 h4::first-letter{
    text-transform: capitalize;
}
#searchform #searchsubmit{
    background-color: #78ad2b;
}
#searchform #searchsubmit:hover{
    background-color: #73993a;
}
.woocommerce-ordering{
    text-align: right;
}
#woocommerce_recently_viewed_products-2{
    float: left;
}
.woocommerce-Price-amount{
    font-size: 15px;
    color: #6aa636;
    letter-spacing: 0.5px;
}
#woocommerce_recently_viewed_products-2 .qodef-product-list-widget-price-wrapper{
display: none;
}
.qodef-product-standard-button-holder .qodef-btn-icon i.qodef-icon-linear-icon{
    display: none;
}


/** RESPONSIVE */
@media only screen and (max-width: 767px) {
    .qodef-single-product-info-bottom #tab-description{
        width: 100%;
    }
    #tab-product_form{
        width: 100%;
    }
    .qodef-single-product-info-top .qodef-single-product-images {
        width: 100% !important;
    }
    .qodef-single-product-images .qodef-single-product-thumbnails {
        width: 16%;
    }
    .qodef-column1{

    }
    .woocommerce-result-count{
        display: none !important;
    }
    .woocommerce-ordering{
        display: none !important;
    }
    .widget_recently_viewed_products{
        display: none !important;
    }
    .widget_product_categories h4{
        cursor: default;
    }
    .side_bar_row_plus{
        display: block;
    }
    .product-categories {
        display: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
}
